body {
  background-color: #1d2937;
  color: #bcbab8;
}

a {
  color: #bcbab8;
}

.header {
  grid-area: header;
}

.header h1 {
  font-size: 2.5em;
}

.header h1 img {
  vertical-align: middle;
}

.random {
  grid-area: random;
}

#curated {
  background-color: #203a4c;
  padding-top: 5px;
}

.curatedContainer {
  grid-area: curatedContainer;
}

#promoted {
  background-color: #1d2937;
}

.footer {
  grid-area: footer;
  padding: 10px;
}

.gallery img {
  width: 95%;
}

.description {
  text-align: left;
  padding: 5px;
  width: 95%;
}

.description img{
  text-align: center;
  width: 95%;
}

.description h2 {
  margin-top: 0.1 em;
  margin-bottom: 0.1 em;
}

.container {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows:    auto;
  justify-content: center;
  justify-items: stretch;
  text-align: center;
  grid-template-areas: 
    "header header"
    "random curatedContainer"
    "footer footer";
}

@media (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    grid-template-areas:
    "header"
    "random"
    "curatedContainer"
    "footer";
  }
}


#randomLoading img {
  padding-top: 50px;
}

#curatedLoading img {
  padding-top: 50px;
}

a[href*="steampowered.com/"] {
  /* background:url(steamIcon.png) no-repeat right top; */
  background:url(steamTest.png) no-repeat right top;
  background-size: 14px;
  padding-right:15px;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #bcbab8;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}