body {
  background-color: #1d2937;
  color: #bcbab8;
}

a {
  color: #bcbab8;
}

.header {
  grid-area: header;
}

.random {
  grid-area: random;
}

.curated {
  grid-area: curated;
}

.promoted {
  grid-area: promoted;
}

.footer {
  grid-area: footer;
}

h1 img {
  vertical-align: middle;
}

.gallery img {
  width: 95%;
}

.description {
  text-align: left;
  padding: 5px;
  width: 95%;
}

.description h2 {
  margin-top: 0.1 em;
  margin-bottom: 0.1 em;
}

.container {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows:    auto;
  justify-content: center;
  justify-items: stretch;
  text-align: center;

  grid-template-areas: 
    "header header"
    "random curated"
    "random promoted"
    "footer footer";
}

#randomLoading {
  padding-top: 50px;
}

a[href*="steampowered.com/"] {
  /* background:url(steamIcon.png) no-repeat right top; */
  background:url(steamTest.png) no-repeat right top;
  background-size: 14px;
  padding-right:15px;
}